{% extends 'base.html' %} {% block head %}
<title>Editar</title>
{% endblock %} {% block body %}
<div>
  <h1>Editar ideia {{ideia.nome}}</h1>
  <a href="/" style="margin-bottom: 1rem;">
    <img src="/static/images/back-button.png" alt="voltar" width="20" />
  </a>
  <form method="POST" action="/edit/{{ideia.id}}" style="background-color: #0e735fbb">
    <label for="nome">Qual o nome?</label>
    <br />
    <input
      type="text"
      id="nome"
      name="nome"
      placeholder="Título"
      value="{{ideia.nome}}"
      required
    />
    <br />
    <label for="tempo">Quantos dias para concluir o MVP?</label>
    <br />
    <input type="number" id="tempo" name="tempo" min="1" max="99" value="{{ideia.tempo_dias}}" />
    <br />
    <label for="categoria">Quais as categorias?</label>
    <br />
    {% set categorias = ideia.categoria.split(',') %} {% set opcoes =
    ["crud","mobile","devops","unifor","pessoal","trabalho"] %}

    <select name="categoria" size="1" multiple>
      {% for op in opcoes %}
      <option value="{{ op }}" {% if op in categorias %}selected{% endif %}>
        {{ op.upper() }}
      </option>
      {% endfor %}
    </select>
    <br />
    <labelF for="descricao">Descreva sua ideia:</label>
    <br />
    <textarea
      type="text"
      id="descricao"
      name="descricao"
      rows="5"
      cols="50"
    >{{ideia.ideia}}</textarea>
    <br />
    <input type="submit" value="Adicionar" />
  </form>
</div>
{% endblock %}
